<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
	
	<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	
	<!-- 引用 favicon -->
	<link rel="icon" type="image/png" sizes="96x96" href="assets/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="512x512" href="assets/favicon/web-app-manifest-512x512.png">
	<link rel="icon" type="image/png" sizes="192x192" href="assets/favicon/web-app-manifest-192x192.png">
	<link rel="icon" type="image/svg+xml" href="assets/favicon/favicon.svg">
	<link rel="shortcut icon" href="assets/favicon/favicon.ico">
	<link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
    
	<!-- 引用 Web App Manifest -->
    <link rel="manifest" href="/assets/favicon/manifest.json">
	
    <!-- 引用 CSS -->
    <link rel="stylesheet" href="/assets/css/styles.scss">
	
	<!-- 支持 iOS 添加到主屏幕 -->
    <meta name="apple-mobile-web-app-title" content="信用卡優惠">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

	
	<!-- 支持 Android 添加到主屏幕 -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#000000">

</head>
<body>
<header>

    <div class="wrapper">
      <header {% unless site.description or site.github.project_tagline %} class="without-description" {% endunless %}>
        <h1>{{ page.title | default: site.title }}</h1>
        {% if site.description or site.github.project_tagline %}
          <p>{{ page.description | default: site.description }}</p>
        {% endif %}
        <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ github_name }}</small></a></p>
        <ul>
        {% if site.show_downloads %}
          <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
          <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
        {% endif %}
          <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>
      <section>

      {{ content }}

      </section>
    </div>



	
<script>

        // 註冊 Service Worker
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js')
                    .then((registration) => {
                        console.log('Service Worker 註冊成功: ', registration);
                    })
                    .catch((error) => {
                        console.log('Service Worker 註冊失敗: ', error);
                    });
            });
        }



document.addEventListener("DOMContentLoaded", function () {
  document.querySelectorAll("img").forEach(function (img) {
    // 如果圖片已經被 <a> 包裹就跳過
    if (img.closest("a")) return;

    // 建立新的 <a> 元素包住圖片
    const link = document.createElement("a");
    link.href = img.src;
    link.target = "_blank";
    link.rel = "noopener noreferrer";
    
    // 插入新節點
    img.parentNode.insertBefore(link, img);
    link.appendChild(img);
  });
});

</script>

    <footer>
        <p>最後更新日期 {{ site.time | date: "%Y-%m-%d %H:%M" }}</p>
    </footer>

</body>
</html>